body {
  margin: 0;
  overflow: auto;
  /* font-family: "Nunito", sans-serif !important; */
   font-family: "Poppins", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
  overflow: auto;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}